beautifulsoup4
blinker
certifi
charset-normalizer
click
Flask
idna
itsdangerous
Jinja2
MarkupSafe
requests
serpapi
soupsieve
typing_extensions
urllib3
Werkzeug
apache-airflow
plotly
pyspark
dbt-core
pandas
gcsfs
google-cloud-bigquery
openpyxl
apache-airflow
pyspark
dbt-core